{% extends "base.html" %}
{% load static %}
{% block title %}Dragon Age Fanlist{% endblock %}

{% block template %}

<!-- Banner -->
<section class="hero-section">
  <div class="hero-text">
    <h1>Dragon Age FanList</h1>

    <h5>Por {{nome}} </h5>

    <p>
      Dragon Age é um jogo de RPG tático que marcou minha infância,
      contando a história de um mundo medieval que se passa no mundo de
      Thedas, o único continente do mundo conhecido e consiste em vários
      clãs, nações e estados habitados por múltiplos povos humanoides.<br />O
      primeiro jogo da série, Dragon Age: Origins, segue a história de um
      recruta recente dos Grey Wardens. Seu objetivo é salvar Ferelden da
      Podridão, uma invasão de criaturas corrompidas por um dragão
      Arquidemônio. A sequência, Dragon Age II, segue a jornada do filho
      mais velho da família Hawke, que se torna o Campeão de Kirkwall após
      uma ascensão de sete anos na estrutura de poder da cidade. Já Dragon
      Age: Inquisition se concentra na Inquisição, uma organização
      encarregada de restaurar a paz a Thedas, que está sofrendo com
      múltiplas guerras e uma invasão demoníaca.
    </p>

    <p>
      O site é para você fazer uma tielist dos Companions, personagens que acompanham o seu personagem ao longo da história e que compõem seu time estratégico para superar os desafios, mecânica característica dos três jogos. Classifique os personagens baseado em seu impacto na história, no desenvolvimento pessoal do personagem e em sua eficácia como companheiro em combate. Também falo um pouco das três classes que compõem o jogo!
    </p>
    <h2><a href="/entrar">Entre aqui</a> para fazer sua própria lista</h2>
  </div>
</section>
{% endblock %}